<% @participants.delete(current_user.username) %>
  <h4>Private conversation with <%= @participants.join(", ") %></h4>

<div class="messages-container">
  <div id="messages-table">
    <% @private_chat.messages.each do |message| %>
      <div class="message">
        <p class="message-user"><%= message.user.username %>:</p>
        <p class="message-body"><%= message.content %></p>
      </div>
    <% end %>
  </div>
  <%= render partial: "messages/form" %>
</div>
