---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<KEY>&keyword=attractions&language=english&location=48.8566,2.3522&radius=5000&types=point-of-interest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You have exceeded your daily request quota for this API.",
           "html_attributions" : [],
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Tue, 18 Jul 2017 00:26:51 GMT
recorded_with: VCR 3.0.3
