---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<KEY>&placeid=ChIJATr1n-Fx5kcRjQb6q6cdQDY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You have exceeded your daily request quota for this API.",
           "html_attributions" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Tue, 18 Jul 2017 00:26:52 GMT
recorded_with: VCR 3.0.3
