---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACb1047782ebb77c6827543969279c5150/Messages.json
    body:
      encoding: UTF-8
      string: Body=123456&From=%2B19706209392&To=%2B13035197055
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNiMTA0Nzc4MmViYjc3YzY4Mjc1NDM5NjkyNzljNTE1MDowMGFjYmFjODY3YTY4NmYxOWU1NTEwNGEzZTk0MzQzNw==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.237'
      Twilio-Request-Id:
      - RQ57f879516fa847739b750f0006d18765
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21608, "message": "The number +13035197055 is unverified.
        Trial accounts cannot send messages to unverified numbers; verify +13035197055
        at twilio.com/user/account/phone-numbers/verified, or purchase a Twilio number
        to send messages to unverified numbers.", "more_info": "https://www.twilio.com/docs/errors/21608",
        "status": 400}'
  recorded_at: Thu, 20 Jul 2017 04:16:17 GMT
recorded_with: VCR 3.0.3
