---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts//Messages.json
    body:
      encoding: UTF-8
      string: Body=123456&From&To=%2B13035197055
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic Og==
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.003'
      Twilio-Request-Id:
      - RQ03925bd0a98f4ba69eaaa82e6876d409
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 20404, "message": "The requested resource /2010-04-01/Accounts//Messages.json
        was not found", "more_info": "https://www.twilio.com/docs/errors/20404", "status":
        404}'
  recorded_at: Thu, 20 Jul 2017 02:54:21 GMT
recorded_with: VCR 3.0.3
