.attraction-details {
  border: 1pt solid #E8E8E8;
}
.attraction-details-field {
  padding: 8px;
  border-top: 1pt solid #E8E8E8;
}
.attraction-details-hours li {
  font-size: small;
}

.attraction-details-hours ul {
  list-style-type: none;
  padding: 0;
}

.review-detail {
  img {
    width: 50px;
  }
}