@import "variables.scss";

.attraction-preview {
  border: 1pt solid #E8E8E8;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.attraction-preview:hover {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.attraction-preview-link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.add-attraction-button {
  position: absolute;
  top: 10px;
  right: 0;
  color: white;
  background-color: $orange !important;
  display: block;
  z-index: 1000;
}

.btn-expand {
  max-width: 16px;
  box-sizing: content-box;
  color: rgba(0, 0, 0, 0);
}
.btn-expand.btn-xs {
  max-width: 12px;
}
.btn-expand.btn-sm {
  max-width: 14px;
}
.btn-expand.btn-lg {
  max-width: 18px;
}
.btn-expand i {
  color: #333;
}
.btn-expand.btn-link i {
  color: #428bca;
}
.btn-expand.btn-primary i,
.btn-expand.btn-success i,
.btn-expand.btn-info i,
.btn-expand.btn-warning i,
.btn-expand.btn-danger i {
  color: #fff;
}
.btn-expand:hover,
.btn-expand:focus,
.btn-expand:active {
  max-width: 400px;
  transition-duration: .5s;
}
