@import "variables.scss";

body {
  background-color: $site-background;
}

@media only screen and (max-width: 767px) {
  #map {
    height: 500px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media only screen and (min-width: 768px) {
  #map {
    height: 70%;
    width: 73%;
    margin-right: 1%;
    border-radius: 10px;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  color: $header-links;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.light-text {
  color: $gray-text;
}
