@import "variables.scss";

body {
  background-color: $site-background;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 74%;
}

h2 {
  color: $header-links;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
