@import "variables.scss";

.navbar-secondary .navbar-toggle:before {
  content: "Trip Planning Tools";
}

.navbar-filters .navbar-toggle:before {
  content: "Map Filters";
}

.row-test {
  max-height: 104px;
}

.logo {
 max-height: 104px;
 // max-width: 100%;
}

.navbar-main, .navbar-secondary {
  margin-bottom: 0 !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  .col,
  [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar {
  background-color: $site-background !important;
  border: 0 !important;
}

li a {
  color: $header-links !important;
  font-family: 'Oswald', sans-serif;
  font-size: 1.15em;
}

.btn {
  background-color: $orange;
  border: 0px;
  color: white;
}
