.navbar-secondary .navbar-toggle:before {
  content: "Trip Planning Tools";
}

.navbar-filters .navbar-toggle:before {
  content: "Map Filters";
}

.logo {
 max-height: 104px;
}

.navbar-main, .navbar-secondary {
  margin-bottom: 0 !important;
}
