@import "variables.scss";

div.update-password {
  align-items: center;
  padding-top: 50px;
}

.btn-update-password:hover {
  background-color: $orange;
  color: white !important;
}

.btn-update-password {
  background-color: $orange;
  color: white;
}
